.topdeftoolbg {
  background: rgba(66, 66, 66, 0.53);
  width: 100%;
  height: 20px;
}
.topdeftoolbg2 {
  border-radius: 10px 10px 0 0;
  background: rgba(66, 66, 66, 0.53);
  width: 100%;
  height: 20px;
}
.transparent_div {
  background-color: transparent;
  width: 100%;
  min-height: 100%;
}
/*滚动条样式*/
.transparent_div::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.transparent_div::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
.transparent_div::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}
.transparent_div {
  border-radius: 10px 10px 0 0;
  background: rgba(66, 66, 66, 0.53);
  width: 100%;
  height: 20px;
}
.btmtoolbg {
  border-radius: 10px 10px 0 0;
  background: rgba(66, 66, 66, 0.53);
  width: 100%;
  height: 20px;
}

.attr_item_top {
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  color: #cbcbcb;
  border-radius: 5px 5px 0 0;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  background: rgba(97, 97, 97, 0.53);
  /* -50px 是为了属性面板左侧tabs图标大小以及tabContent内部padding*/
  width: calc(100% - 50px);
  height: 20px;

  /*  文字不被选中*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.attr_item_content {
  width: calc(100% - 50px);
  border-radius: 0 0 5px 5px;
  padding-bottom: 15px;
  background: rgba(97, 97, 97, 0.53);
}

.attr_item {
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  color: #cbcbcb;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  background: rgba(97, 97, 97, 0.53);
  /* -50px 是为了属性面板左侧tabs图标大小以及tabContent内部padding*/
  width: calc(100% - 50px);
  height: 20px;

  /*  文字不被选中*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

/*  shadow*/
  box-shadow:0 0 2px #222222;
}

.attr_item_btm {
  border-radius: 0 0 10px 10px;
  background: white;
  /* -30px 是为了属性面板左侧tabs图标大小*/
  width: calc(100% - 30px);
  height: 20px;
}

.component_input{
  border: 0px;
  border-radius: 2px;
  outline-style: none;
  background: #777777;
  margin-left: 4px;
  margin-right: 4px;
}
.component_input:hover{
  background: #383838;
}

.component_select{
  border: 0px;
  border-radius: 2px;
  outline-style: none;
  background: #383838;
  min-width: 100px;
  margin-left: 4px;
  margin-right: 4px;
  color: #cbcbcb;font-size: 12px;
}

.component_select:hover{
  background: #777777;
}

.input[type='checkbox']:checked + label:before{
  background: #4cd764;
}

.icon_right {
  width: 0;
  height: 0;
  display: block;
  float: left;
  transform: rotate(-90deg);
  border: 5px solid transparent;
  border-color: gray transparent transparent transparent;
  margin: 5px;
}

.icon_btm {
  width: 0;
  height: 0;
  display: block;
  float: left;
  border: 5px solid transparent;
  border-color: gray transparent transparent transparent;
  margin: 7px 5px 5px 5px;
}

/*context menu*/
.vue-contextmenu-listWrapper {
  margin: 0;
  background: #fff;
  z-index: 3000;
  position: absolute;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  min-width: 150px;
  color: #c2c2c2;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.84);
  background-color: #0c0c0c;
}

.vue-contextmenu-listWrapper .context-menu-list {
  margin: 0;
  cursor: pointer;
}

.vue-contextmenu-listWrapper .context-menu-list:hover {
  background: #777777;
}
